---
- name: "GitHub CLI | Fedora | Add repository"
  ansible.builtin.yum_repository:
    baseurl: https://cli.github.com/packages/rpm/
    description: GitHub CLI
    enabled: true
    file: gh-cli
    gpgcheck: true
    gpgkey: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x23F3D4EA75716059
    mode: "644"
    name: gh-cli
    sslverify: true
  become: true

- name: "GitHub CLI | Fedora | Install"
  ansible.builtin.dnf:
    name: gh
    enablerepo: gh-cli
    state: present
  become: true
