---
- name: "Bash | Archlinux | Create environment.d directory"
  ansible.builtin.file:
    mode: "0700"
    path: "{{ ansible_facts.user_dir }}/.config/environment.d"
    state: directory

- name: "Bash | Archlinux | Copy systemd environment.d export script"
  ansible.builtin.copy:
    dest: "{{ ansible_facts.user_dir }}/.config/environment.d/export.sh"
    mode: "0700"
    src: export.sh

- name: "Bash | Archlinux | Export systemd user environment"
  ansible.builtin.blockinfile:
    append_newline: true
    block: |
      eval $(~/.config/environment.d/export.sh)
    create: true
    insertafter: EOF
    marker: "# {mark} ANSIBLE MANAGED BLOCK (bash.export-systemd-user-environment)"
    mode: "0600"
    path: "{{ ansible_facts.user_dir }}/.bashrc"
    prepend_newline: true
