---
- name: "Bash | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Bash | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: "Bash | Make .bash_profile load .bashrc"
  ansible.builtin.copy:
    dest: "{{ ansible_facts.user_dir }}/.bash_profile"
    mode: "644"
    src: ".bash_profile"
