---
- name: "Devtunnel | Archlinux | Create bin directory"
  ansible.builtin.file:
    mode: "0700"
    path: "{{ ansible_facts.user_dir }}/.local/bin"
    state: directory 

- name: "Devtunnel | Archlinux | Install"
  ansible.builtin.get_url:
    dest: "{{ ansible_facts.user_dir }}/.local/bin/devtunnel"
    force: false
    mode: "0700"
    url: https://aka.ms/TunnelsCliDownload/linux-x64
