---
- name: "Azure CLI | Ubuntu |Install dependencies"
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  become: true
  loop:
    - ca-certificates
    - curl
    - apt-transport-https
    - lsb-release
    - gnupg

- name: "Azure CLI | Ubuntu | Download and add key to apt keyring"
  ansible.builtin.apt_key:
    url: "https://packages.microsoft.com/keys/microsoft.asc"
    keyring: "/etc/apt/trusted.gpg.d/microsoft.gpg"
    state: present
  become: true

- name: "Azure CLI | Ubuntu | Add repository into /etc/apt/sources.list"
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ ansible_facts.machine | replace('x86_64', 'amd64') }}] https://packages.microsoft.com/repos/azure-cli/ {{ ansible_facts.distribution_release | lower }} main"
    state: present
  become: true

- name: "Azure CLI | Ubuntu | Install"
  ansible.builtin.apt:
    name: azure-cli
    update_cache: true
    state: present
  become: true
