---
- name: Tldr | Ubuntu | Download Latest Version JSON
  ansible.builtin.uri:
    url: https://api.github.com/repos/psibi/tldr-hs/releases/latest
  register: tldr_latest_version_json
  changed_when: false

- name: Tldr | Ubuntu | Registering Tldr Latest Release
  ansible.builtin.set_fact:
    tldr_latest_release: "{{ tldr_latest_version_json.json.tag_name }}"

- name: Tldr | Ubuntu | Registering Tldr Latest Version
  ansible.builtin.set_fact:
    tldr_latest_version: "{{ tldr_latest_release.stdout|default('') }}"

- name: Tldr | Ubuntu | Getting version information
  ansible.builtin.shell:
    cmd: |
      echo "v$(/usr/local/bin/tldr -v)"
  register: current_tldr_version
  changed_when: false
  failed_when: false

- name: Tldr | Ubuntu | Install
  when: tldr_latest_release not in current_tldr_version.stdout | default('')
  block:
    - name: Tldr | Ubuntu | Define tldr_file
      ansible.builtin.set_fact:
        tldr_file: "tldr-musl-linux-{{ tldr_latest_release }}"

    - name: Tldr | Ubuntu | Ensure clean download destination
      ansible.builtin.file:
        path: "/tmp/{{ tldr_file }}.tar.gz"
        state: absent
      become: true

    - name: Tldr | Ubuntu | Downloading Tldr Release
      ansible.builtin.get_url:
        url: "https://github.com/psibi/tldr-hs/releases/download/{{ tldr_latest_release }}/{{ tldr_file }}.tar.gz"
        dest: /tmp/
        mode: "0644"
        force: true
      notify:
        - Cleanup Tldr downloaded tar

    - name: Tldr | Ubuntu | Ensure clean extraction destination
      ansible.builtin.file:
        path: "/tmp/tldr"
        state: absent
      become: true

    - name: Tldr | Ubuntu | Extract Tldr tar file
      ansible.builtin.unarchive:
        src: "/tmp/{{ tldr_file }}.tar.gz"
        dest: /tmp

    - name: Tldr | Ubuntu | Remove any current Tldr installations
      ansible.builtin.file:
        path: /usr/local/bin/tldr
        state: absent
      become: true

    - name: Tldr | Ubuntu | Install
      ansible.builtin.copy:
        remote_src: true
        src: /tmp/tldr
        dest: /usr/local/bin/
        owner: "{{ host_user }}"
        group: "{{ host_user }}"
        force: true
        mode: "0755"
      become: true
      notify:
        - Remove extracted Tldr directory
