---
- name: "Kanshi | Create config directory"
  ansible.builtin.file:
    mode: "0700"
    path: "{{ ansible_facts.user_dir }}/.config/kanshi"
    state: directory

- name: "Kanshi | Checking if node-specific config exists"
  ansible.builtin.stat:
    path: "{{ role_path }}/files/{{ ansible_facts.nodename }}"
  register: node_config

- name: "Kanshi | Configure"
  ansible.builtin.copy:
    dest: "{{ ansible_facts.user_dir }}/.config/kanshi/config"
    mode: "600"
    src: "{{ ansible_facts.nodename }}"
  when: node_config.stat.exists

- name: "Kanshi | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Kanshi | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists
