---
- name: "Atuin | macOS | Install"
  community.general.homebrew:
    name: atuin
    state: present

- name: "Atuin | macOS | Enable"
  ansible.builtin.blockinfile:
    append_newline: true
    block: |
      eval "$(atuin init {{ item.role }})"
    create: true
    insertafter: EOF
    marker: "# {mark} ANSIBLE MANAGED BLOCK (atuin.enable)"
    mode: "600"
    path: "{{ item.path }}"
    prepend_newline: true
  when: item.role in default_roles
  loop:
    - role: bash
      path: "{{ ansible_facts.user_dir }}/.bashrc"
    - role: zsh
      path: "{{ ansible_facts.user_dir }}/.zshrc"
