---
- name: Screenshots | Fedora | Install
  ansible.builtin.dnf:
    name:
      - grim
      - grimshot
      - jq
      - slurp
      - swappy
      - wl-clipboard
      - xdg-desktop-portal
      - xdg-desktop-portal-wlr
    state: present
  become: true
