---
- name: "Screenshots | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Screenshots | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: Screenshots | Create config directory
  ansible.builtin.file:
    mode: "0700"
    path: "{{ ansible_facts.user_dir }}/.config/swappy"
    state: directory

- name: Screenshots | Create screenshot directory
  ansible.builtin.file:
    mode: "0700"
    path: "{{ ansible_facts.user_dir }}/Pictures/Screenshots"
    state: directory

- name: Screenshots | Configure
  ansible.builtin.copy:
    dest: "{{ ansible_facts.user_dir }}/.config/swappy/config"
    src: swappy-config
    mode: "0600"
