---
- name: "Mullvad | Fedora | Add RPM GPG key"
  ansible.builtin.rpm_key:
    fingerprint: A1198702FC3E0A09A9AE5B75D5A1D4F266DE8DDF
    key: https://repository.mullvad.net/rpm/mullvad-keyring.asc
  become: true

- name: "Mullvad | Fedora | Add repository"
  ansible.builtin.yum_repository:
    baseurl: https://repository.mullvad.net/rpm/stable/$basearch
    description: Mullvad VPN
    enabled: true
    file: mullvad
    gpgcheck: true
    gpgkey: https://repository.mullvad.net/rpm/mullvad-keyring.asc
    mode: "0644"
    name: mullvad
    sslverify: true
  become: true

- name: "Mullvad | Fedora | Install"
  ansible.builtin.dnf:
    name:
      - mullvad-vpn
    state: present
  become: true
