---
- name: "Visual Studio Code | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Visual Studio Code | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: "Visual Studio Code | Install extensions"
  ansible.builtin.command:
    argv:
      - code
      - --install-extension
      - "{{ item }}"
      - --force
  changed_when: "'successfully installed' in result.stdout"
  loop: "{{ code.extensions }}"
  register: result
