---
- name: "PhpStorm | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "PhpStorm | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: PhpStorm | Linux | Install
  ansible.builtin.include_tasks: linux.yml
  when: ansible_facts.os_family == "Linux"
