---
- name: "SSH | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "SSH | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: SSH | Create config directory
  ansible.builtin.file:
    mode: "700"
    path: "{{ ansible_facts.user_dir }}/.ssh"
    state: directory

- name: SSH | Initialize server items list
  ansible.builtin.set_fact:
    server_items_with_alias: []

- name: SSH | 1Password operations
  when: op_installed
  block:
    - name: SSH | Extract IDs of server items
      ansible.builtin.shell: |
        set -o pipefail
        op item list --categories Server --format=json \
          | jq '[.[] | .id]'
      register: op_server_items
      changed_when: false

    - name: SSH | Parse IDs of server items
      ansible.builtin.set_fact:
        op_server_items: "{{ op_server_items.stdout | from_json }}"
      changed_when: false

    - name: SSH | Process server items with aliases
      ansible.builtin.include_tasks:
        file: alias.yml
      loop: "{{ op_server_items }}"

- name: SSH | Configure
  ansible.builtin.template:
    dest: "{{ ansible_facts.user_dir }}/.ssh/config"
    mode: "0600"
    src: config.j2
