---
- name: NetworkManager dmenu | Fedora | Install
  ansible.builtin.dnf:
    name:
      - libnotify
      - NetworkManager
      - network-manager-applet
      - pinentry-gnome3
      - python3-gobject
      - rofi-wayland
    state: present
  become: true
