---
- name: "System | Archlinux | Create ~/.config/environment.d"
  ansible.builtin.file:
    mode: "0700"
    path: "{{ ansible_facts.user_dir }}/.config/environment.d"
    state: directory

- name: "System | Archlinux | Set locale"
  ansible.builtin.lineinfile:
    create: true
    dest: "{{ ansible_facts.user_dir }}/.config/environment.d/10-locale.conf"
    line: "{{ item.key | upper }}={{ item.value }}"
    mode: "0600"
    regexp: "^{{ item.key | upper }}="
  loop: "{{ system_.locale | dict2items }}"

- name: "System | Archlinux | Set keyboard"
  ansible.builtin.lineinfile:
    create: true
    dest: "{{ ansible_facts.user_dir }}/.config/environment.d/11-keyboard.conf"
    line: "{{ item.key | upper }}={{ item.value }}"
    mode: "0600"
    regexp: "^{{ item.key | upper }}="
  loop: "{{ system_.keyboard | dict2items }}"

- name: "System | Archlinux | Configure Electron"
  ansible.builtin.copy:
    dest: "{{ ansible_facts.user_dir }}/.config/electron-flags.conf"
    mode: "0600"
    src: electron-flags.conf
