---
- name: "System | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "System | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: "System | 1Password operations"
  when: op_installed
  block:
    - name: "System | Get item ID for {{ ansible_facts.nodename }}"
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          "op item list --tags ansible/hosts --account my.1password.com --format json | jq -r '.[] | select(.title == \"{{ ansible_facts.nodename }}\") | .id'"
      register: system_hosts_item_id
      failed_when: false
      changed_when: false

    - name: "System | Item exists for {{ ansible_facts.nodename }}"
      when: system_hosts_item_id.rc == 0 and system_hosts_item_id.stdout != ""
      block:
        - name: "System | Get hosts"
          ansible.builtin.shell:
            cmd: |
              set -o pipefail
              "op item get {{ system_hosts_item_id.stdout }} --fields label=notesPlain --format json | jq -r '.value'"
          changed_when: false
          failed_when: false
          register: system_hosts_notesplain

        - name: "System | Set hosts"
          ansible.builtin.copy:
            content: "{{ system_hosts_notesplain.stdout }}"
            dest: /etc/hosts
            group: "{{ become_user_group.stdout }}"
            user: root
            mode: "0644"
          when: system_hosts_notesplain.rc == 0 and system_hosts_notesplain.stdout != ""
          become: true
