---
- name: "Kitty | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Kitty | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: "Kitty | Create config directory"
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.config/kitty"
    mode: "0700"
    state: directory

- name: "Kitty | Configure"
  ansible.builtin.copy:
    src: kitty.conf
    dest: "{{ ansible_facts.user_dir }}/.config/kitty/kitty.conf"
    mode: "0600"
