---
- name: "Fzf | Ubuntu | Uninstall APT package"
  ansible.builtin.apt:
    name: fzf
    state: absent
  become: true

- name: "Fzf | Ubuntu | Clone Latest Version"
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    depth: 1
    dest: "{{ ansible_facts.user_dir }}/.fzf"
  notify: "Fzf | Ubuntu | Install"
