---
- name: "Git | Set core.autocrlf"
  community.general.git_config:
    name: core.autocrlf
    scope: global
    value: "false"

- name: "Git | Set gpg.format"
  community.general.git_config:
    name: gpg.format
    scope: global
    value: ssh

- name: "Git | 1Password operations"
  when: op_installed
  block:
    - name: "Git | Get item ID for {{ ansible_facts.nodename }}"
      ansible.builtin.shell:
        cmd: "op item list --tags ansible/node --format json | jq -r '.[] | select(.title == \"{{ ansible_facts.nodename }}\") | .id'"
      register: git_item_id
      failed_when: false
      changed_when: false

    - name: "Git | Item for {{ ansible_facts.nodename }} exists"
      when: git_item_id.rc == 0 and git_item_id.stdout != ""
      block:
        - name: "{{ role_name }} | Get user.email"
          ansible.builtin.command:
            argv:
              - op
              - item
              - get
              - "{{ git_item_id.stdout }}"
              - --fields
              - label=git-user-email
          changed_when: false
          failed_when: false
          register: git_user_email
        
        - name: "Git | Get user.name"
          ansible.builtin.command:
            argv:
              - op
              - item
              - get
              - "{{ git_item_id.stdout }}"
              - --fields
              - label=git-user-name
          changed_when: false
          failed_when: false
          register: git_user_name

        - name: "Git | Get init.defaultBranch"
          ansible.builtin.command:
            argv:
              - op
              - item
              - get
              - "{{ git_item_id.stdout }}"
              - --fields
              - label=git-init-defaultBranch
          changed_when: false
          failed_when: false
          register: git_init_defaultBranch

- name: "Git | Set user.email"
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ git_user_email.stdout if git_user_email is defined and git_user_email.rc is defined and git_user_email.rc == 0 else git.user.email }}"

- name: "Git | Set user.name"
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ git_user_name.stdout if git_user_name is defined and git_user_name.rc is defined and git_user_name.rc == 0 else git.user.name }}"

- name: "Git | Set init.defaultBranch"
  community.general.git_config:
    name: init.defaultBranch
    scope: global
    value: "{{ git_init_defaultBranch.stdout if git_init_defaultBranch is defined and git_init_defaultBranch.rc is defined and git_init_defaultBranch.rc == 0 else 'main' }}"

- name: "Git | Run generic Linux tasks"
  ansible.builtin.include_tasks: Linux.yml
  when: ansible_facts.system == "Linux"

- name: "Git | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Git | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists
