---
- name: Networkmanager-dmenu | Fedora | Install dependencies
  ansible.builtin.dnf:
    name:
      - libnotify
      - NetworkManager
      - network-manager-applet
      - pinentry-gnome3
      - python3-gobject
      - rofi-wayland
    state: present
  become: true

- name: Networkmanager-dmenu | Fedora | Install
  ansible.builtin.include_tasks: linux.yml
