---
- name: Rofi | Fedora | Install
  ansible.builtin.dnf:
    name:
      - rofi-wayland
    state: present
  become: true

- name: Rofi | Fedora | Configure
  ansible.builtin.include_tasks: post-install.yml
