---
- name: Yt-dlp | Fedora | Add RPM Fusion key (free)
  ansible.builtin.rpm_key:
    fingerprint: E9A4 91A3 DE24 7814 E7E0 67EA E06F 8ECD D651 FF2E
    key: https://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-free-fedora-2020
  become: true

- name: Yt-dlp | Fedora | Enable the RPM Fusion (free) repo
  ansible.builtin.dnf:
    name:
      - "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_facts.distribution_version.split('.')[0] }}.noarch.rpm"
    state: present
  become: true

- name: Yt-dlp | Fedora | Install dependencies
  ansible.builtin.dnf:
    name:
      - ffmpeg
      - ffprobe
    state: present
  become: true

- name: Yt-dlp | Fedora | Check whether the Cisco OpenH264 repository is enabled
  ansible.builtin.shell:
    cmd: dnf repo list | grep fedora-cisco-openh264
  changed_when: false
  failed_when: false
  register: yt_dlp_fedora_cisco_openh264

- block:
    - name: Yt-dlp | Fedora | Enable dnf config-manager
      ansible.builtin.dnf:
        name:
          - dnf-plugins-core
        state: present
      become: true

    - name: Yt-dlp | Fedora | Enable the Cisco OpenH264 repository
      ansible.builtin.command:
        argv:
          - dnf
          - config-manager
          - --setopt
          - fedora-cisco-openh264.enabled=1
      become: true
  when: yt_dlp_fedora_cisco_openh264.rc != 0
