---
- name: "Yt-dlp | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Yt-dlp | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: Yt-dlp | Create bin directory
  ansible.builtin.file:
    mode: "700"
    path: "{{ ansible_facts.user_dir }}/.local/bin"
    state: directory

- name: Yt-dlp | Download
  ansible.builtin.get_url:
    dest: "{{ ansible_facts.user_dir }}/.local/bin/yt-dlp"
    mode: "700"
    url: https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp
    use_netrc: false

- name: Yt-dlp | Update
  ansible.builtin.command:
    argv:
      - "{{ ansible_facts.user_dir }}/.local/bin/yt-dlp"
      - -U
  changed_when: ytdlp_update.stdout.find('yt-dlp is up to date') != -1
  register: ytdlp_update
