---
- name: "Ansible-lint | RedHat | Ensure the CRB repo is enabled"
  community.general.dnf_config_manager:
    name:
      - crb
  become: true

- name: "Ansible-lint | RedHat | Install"
  ansible.builtin.dnf:
    name: python3-ansible-lint
  become: true
