---
- name: "Lsd | Create alias"
  ansible.builtin.blockinfile:
    append_newline: true
    block: |
      alias ll='lsd -lah'
    create: true
    insertafter: EOF
    marker: "# {mark} ANSIBLE MANAGED BLOCK (lsd.alias)"
    mode: "600"
    path: "{{ item.path }}"
    prepend_newline: true
  when: item.role in default_roles
  loop:
    - role: bash
      path: "{{ ansible_facts.user_dir }}/.bashrc"
    - role: zsh
      path: "{{ ansible_facts.user_dir }}/.zshrc"
