---
- name: Sway | Fedora | Uninstall existing configs
  ansible.builtin.dnf:
    name:
      - sway-config-minimal
      - sway-config-upstream
    state: absent
  become: true

- name: Sway | Fedora | Install
  ansible.builtin.dnf:
    name:
      - "@sway-desktop-environment"
      - desktop-backgrounds-compat
      - kanshi
      - rofi-themes
      - rofi-wayland
      - sway-systemd
    state: present
  become: true

- name: Sway | Fedora | Configure
  ansible.builtin.dnf:
    allowerasing: true
    name:
      - sway-config-fedora
    state: present
  become: true
