---
- name: "Starship | Fedora | Ensure target directory exists"
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.local/bin"
    state: directory
    mode: "700"

- name: "Starship | Fedora | Check installation status"
  ansible.builtin.command:
    cmd: "command -v starship"
  changed_when: false
  ignore_errors: true
  register: starship_exists
  failed_when: false

- name: "Starship | Fedora | Install"
  ansible.builtin.shell:
    cmd: "curl -sS https://starship.rs/install.sh | sh -s -- -y -b {{ ansible_facts.user_dir }}/.local/bin"
  when: starship_exists.rc != 0
