---
- name: "Starship | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Starship | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: "Starship | Ensure .config directory exists"
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.config"
    state: directory
    mode: "0755"

- name: "Starship | Copy config"
  ansible.builtin.copy:
    dest: "{{ ansible_facts.user_dir }}/.config/starship.toml"
    src: "starship.toml"
    mode: "0644"

- name: "Starship | Enable"
  ansible.builtin.blockinfile:
    append_newline: true
    block: |
      eval "$(starship init {{ item.role }})"
    create: true
    insertafter: EOF
    marker: "# {mark} ANSIBLE MANAGED BLOCK (starship.enable)"
    mode: "600"
    path: "{{ item.path }}"
    prepend_newline: true
  when: item.role in default_roles
  loop:
    - role: bash
      path: "{{ ansible_facts.user_dir }}/.bashrc"
    - role: zsh
      path: "{{ ansible_facts.user_dir }}/.zshrc"
