---
- name: "Starship | Ubuntu | Install"
  when: starship_installed.rc != 0
  ansible.builtin.shell:
    cmd: set -o pipefail && curl -fsSL https://starship.rs/install.sh | sudo sh -s -- --force
  args:
    creates: /usr/local/bin/starship
