[Desktop Entry]
Name=Obsidian
Exec={{ ansible_facts.user_dir }}/.local/bin/{{ obsidian_latest_filename }}
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
