---
- name: "Btop | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Btop | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: "Btop | Ensure config directory exists"
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.config/btop"
    mode: "0700"
    state: directory

- name: "Btop | Configure"
  ansible.builtin.copy:
    dest: "{{ ansible_facts.user_dir }}/.config/btop/btop.conf"
    force: false
    mode: "0600"
    src: btop.conf
