---
- name: "1Password | Linux | Create ~/.config/environment.d"
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.config/environment.d"
    mode: "0700"
    state: directory

- name: "1Password | Linux | Set SSH_AUTH_SOCK"
  ansible.builtin.lineinfile:
    create: true
    dest: "{{ ansible_facts.user_dir }}/.config/environment.d/21-1password.conf"
    line: "SSH_AUTH_SOCK={{ ansible_facts.user_dir }}/.1password/agent.sock"
    mode: "0600"
    regexp: "^SSH_AUTH_SOCK="
