---
- name: "Neovim | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Neovim | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: Neovim | Create config directory
  ansible.builtin.file:
    mode: "0700"
    path: "{{ ansible_facts.user_dir }}/.config"
    state: directory

- name: Neovim | Configure
  ansible.builtin.copy:
    dest: "{{ ansible_facts.user_dir }}/.config"
    src: nvim
    mode: "0600"

- name: Neovim | Create alias
  ansible.builtin.blockinfile:
    append_newline: true
    block: |
      alias vi='nvim'
      alias vim='nvim'
    create: true
    insertafter: EOF
    marker: "# {mark} ANSIBLE MANAGED BLOCK (neovim.alias)"
    mode: "0600"
    path: "{{ item.path }}"
    prepend_newline: true
  when: item.role in default_roles
  loop:
    - role: bash
      path: "{{ ansible_facts.user_dir }}/.bashrc"
    - role: zsh
      path: "{{ ansible_facts.user_dir }}/.zshrc"
