---
- name: Neovim | Ubuntu | Install dependencies
  ansible.builtin.apt:
    name:
      - cmake
      - curl
      - pkg-config
      - libtool
      - unzip
      - ansible-lint
      - ripgrep
    state: present
  become: true

- name: Neovim | Ubuntu | Install
  ansible.builtin.apt_repository:
    mode: "0644"
    repo: ppa:neovim-ppa/unstable
    state: present
  become: true
