---
- name: WireGuard | Fedora | Install
  ansible.builtin.dnf:
    name:
      - NetworkManager
      - procps-ng
    state: present
  become: true

- name: WireGuard | Fedora | 1Password operations
  block:
    - name: WireGuard | Fedora | List nmconnections
      ansible.builtin.shell:
        cmd: "op item list --tags ansible/nmconnection --format json | jq -r '.[].id'"
      changed_when: false
      register: networkmanager_1password_ids_tagged_ansible

    - name: WireGuard | Fedora | Item operations
      ansible.builtin.include_tasks:
        file: item.yml
      loop: "{{ networkmanager_1password_ids_tagged_ansible.stdout_lines }}"
