---
- name: "Bat | Checking for Distribution Config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: distribution_config

- name: "Bat | Run Tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: distribution_config.stat.exists

- name: "Bat | Ensure config dir exists"
  ansible.builtin.file:
    mode: "0700"
    path: "{{ ansible_facts.user_dir }}/.config/bat"
    state: directory

- name: "Bat | Configure"
  ansible.builtin.copy:
    dest: "{{ ansible_facts.user_dir }}/.config/bat/config"
    mode: "0600"
    src: config
