---
- name: "Fonts | Fedora | Install"
  ansible.builtin.dnf:
    name:
      - powerline-fonts
    state: present
  become: true

- name: "Fonts | Fedora | Include Nerd fonts"
  ansible.builtin.include_tasks:
    file: linux-nerdfont.yml
  loop: "{{ fonts_.nerdfonts }}"
